body { background-color: black; }
main {
    font-family: 'Roboto', sans-serif, serif;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.headBanner {
    $radius: 30px;
    $bgcolor: #d1d4ff;

    background-color: $bgcolor;
    height: 500px;
    border-radius: $radius;
    position: relative;

    .banner {
        position: absolute;
        top: 0; left: 0;
        right: 0; bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navBar {
        font-size: 1.1em;
        position: absolute;
        top: 0; left: 0; right: 0;

        @media (min-width: 800px) {
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
        }
        @media (max-width: 800px) {
            & > *:nth-child(1) { padding: 20px 30px; }
            & > *:nth-child(2) { padding: 20px 30px; }
        }

        a {
            text-decoration: none;
            color: black;
            &:hover { color: gray; }
        }
        .btns {
            text-align: center;
            & > * { margin: 20px; }
        }
    }
    .upButton {
        padding: 20px 30px;
        font-size: 1.1em;
        position: absolute;
        top: 0; right: 0;
        border-bottom-left-radius: $radius;
        text-transform: uppercase;
        font-weight: bold;
        background-color: black;

        a {
            text-decoration: none;
            color: yellow;
        }
        .round1, .round2 {
            position: absolute;
            height: $radius;
            width: $radius;
            background-color: black;

            div {
                position: absolute;
                top: 0; right: 0;
                left: 0; bottom: 0;
                border-top-right-radius: $radius;
                background-color: $bgcolor;
            }
        }
        .round1 {
            top: 0;
            left: -$radius;
        }
        .round2 {
            bottom: -$radius;
            right: 0;
        }
    }
}
